.step-section.d-none {
    display: none !important;
}

.question-card {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 14px;
}

.back-link {
    text-decoration: none;
    font-size: 0.9rem;
}

.step-section.d-none {
    display: none !important;
}

.question-card {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 14px;
}

.back-link {
    text-decoration: none;
    font-size: 0.9rem;
}

#fp_new_password,
#fp_confirm_password {
    padding-right: 3rem;
}

input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 9999s ease-in-out 0s;
}